.page-header
  = link_to new_story_path, class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    New Story
  %h1 Listing stories

.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th #
        %th Vote
        %th Story
        %th Email
        %th Created on
        %th{colspan: 3}

    %tbody
      - @stories.each_with_index do |story, index|
        %tr
          %td= "#{index + 1}"
          -# %td= button_to "glyphicon glyphicon-chevron-up", method: :post
          %td
            %i.fa.fa-arrow-up{"aria-hidden" => "true"}
            %i.fa.fa-arrow-down{"aria-hidden" => "true"}
          %td= link_to story.title, story.link
          %td= story.email
          %td= story.created_at.strftime("%m/%d/%Y at %I:%M %p")
          %td
            = link_to story do
              %span.glyphicon.glyphicon-ok
          %td
            = link_to edit_story_path(story) do
              %span.glyphicon.glyphicon-pencil
          %td
            = link_to story, data: { confirm: 'Are you sure?' }, method: :delete do
              %span.glyphicon.glyphicon-remove
